/* This is empty CSS file intended to be overwritten by user's custom CSS file */

/* ============= Device specific fixes ======= */

/* Large screens such as TV */
@media only screen and (min-width: 1824px) {
}

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

/* IPad Pro */
@media (max-width: 1024px) {
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
}

/* iPhoneX, iPhone 6,7,8 */
@media only screen and (max-width: 375px) {
}

/* Galaxy S5, Moto G4 */
@media only screen and (max-width: 360px) {
}

/* iPhone 5 or before */
@media only screen and (max-width: 320px) {
}

/* CUSTOM */
#home .greeting {
    /*
    background: #00000045;
    border-radius: 0.25em;
    box-shadow: 0 0 25px black;
    */
    text-shadow: 0 0 6px black;
    background: radial-gradient(#00000079, transparent 70%);
    display: inline-block;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
#home .greeting-subtitle {
    /*
    background: #00000045;
    border-radius: 0.25em;
    box-shadow: 0 0 25px black;
    */
    text-shadow: 0 0 6px black;
    background: radial-gradient(#00000079, transparent 80%);
    display: inline-block;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
}
#home #typing-carousel-data li {
    text-shadow: 0 0 10px black;
}
#home .ityped {
    /*
    background: #00000045;
    border-radius: 0.25em;
    box-shadow: 0 0 25px black;
    */
    text-shadow: 0 0 6px black;
    background: radial-gradient(#00000079, transparent 85%);
    display: inline-block;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}